:root {
    --primary: #4c5a69;
    --secondary: #ac92ea;
    --tertiary: orange;
    --white: #fff;
    --offWhite: #ddd;

    /* 1 */ --radicalRed: #FF355E;
    /* 2 */  --wildWatermelon: #FD5B78;
    /* 3 */  --outrageousOrange: #FF6037;
    /* 4 */   --atmoicTangerine: #FF9966;
    /* 5 */  --neonCarrot: #FF9933;
    /* 6 */  --sunglow: #FFCC33;
    /* 7 */  --laserLemon: #FFFF66;
    /* 8 */  --unmellowYellow: #FFFF66;
    /* 9  */  --electricLime: #CCFF00;
    /* 10 */   --screaminGreen: #66FF66;
    /* 11 */  --magicMint: #AAF0D1;
    /* 12 */  --blizzardBlue: #50BFE6;
    /* 13 */  --shockingPink: #FF6EFF;
    /* 14 */  --razzleDazzleRose: #EE34D2;
    /* 15 */  --hotMagneta: #FF00CC;
    /* 16 */   --purplePizzazz: #FF00CC;
}


header,
header a,
header nav,
header nav > * {
    background: transparent;
}

header {
    background: linear-gradient(
            90deg,
            #ff00cc,
            #ee34d2 7.7%,
            #ff6eff 15.4%,
            #50bfe6 23.1%,
            #aaf0d1 30.3%,
            #66ff66 38.6%,
            #ccff00 46.9%,
            #ffff66 53.2%,
            #ffcc33 61.5%,
            #ff9933 69.8%,
            #ff9966 77.1%,
            #ff6037 84.4%,
            #fd5b78 92.4%,
            #ff355e 100%
    );
}


section#h1 {
    background: linear-gradient(
            0deg,
            #ff355e,
            #fd5b78 7.7%,
            #ff6037 15.4%,
            #ff9966 23.1%,
            #ff9933 30.8%,
            #ffcc33 38.5%,
            #ffff66 46.2%,
            #ccff00 53.9%,
            #66ff66 61.6%,
            #aaf0d1 69.3%,
            #50bfe6 77%,
            #ff6eff 84.7%,
            #ee34d2 92.4%,
            #ff00cc 100%
    );
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    display: grid;
    max-width: 100%;
    overflow-x: hidden;
    grid-template-columns: 80px auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header   header  header  header"
    "h1       hero    hero    hero"
    "h1       nav     nav     aside"
    "h1       main    main    aside"
    "footer   footer  footer  footer";
}

a {
    text-decoration: none;
}

h1 {
    writing-mode: vertical-lr;
    padding: 0 10px;
}

h1,
section#hero h2 {
    font-size: 2em;
    letter-spacing: 0.4em;
    width: 100%;
}

header,
section#hero,
nav#nav-secondary,
main,
aside,
footer {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-content: center;
}

section#hero *,
main section *,
aside section *,
footer section * {
    padding: 20px;
}

section#hero {
    height: 60vh;
    background: #ddd;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

section#hero section {
display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 90%;
}
section#hero h2,
section#hero p,
section#hero div {
    width: 500px;
}

section#hero div {
    display: flex;
    gap: 20px;
}

section#hero button.btn-primary {
    width: 60%;
}

section#hero button.btn-secondary {
    width: 40%;
}

button {
    padding: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-radius: 5px;
}

footer section,
footer section div > * {
    width: 90%;
}
header nav,
header nav div {
    display:flex;
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    gap:10px;
    height:50px;
}

img.logo {
    width: 80px;
}

header nav div a {
    flex:1;
    border-radius: 5px;
}
#toggle-button {
    display:none;
}

footer section {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer section div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > div,
footer > div > p {
    text-align: center;
    letter-spacing: 0.07em;
    width: 100%;
    padding: 10px;
}
header a,
footer a {
    margin: 0;
    width: 80px;
    align-self: center;
    text-align: center;
}

aside section,
nav#nav-secondary section {
    gap: 20px;
}

nav#nav-secondary section div {
    border: 2px solid transparent;
    margin-top: -30px;
}

main section div,
header nav div a,
aside section div,
nav#nav-secondary section div {
    flex: 1;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

main section div {
    text-align: left;
}

aside section div {
    flex: 1 100%;
}

nav#nav-secondary section div a i,
aside section div a i {
    text-align: center;
    height: 80px;
    width: 80px;
    padding: 20px;
    border-radius: 50%;
    border:3px solid #aaa;
    background: #e7e7e7;
    color:#2b2b2b;
}

section#h1 {
    grid-area: h1;
    width:100%;
    display:inline-block;
    padding:10px;
}
header {
    grid-area: header;
}
section#hero {
    grid-area: hero;
}
nav#nav-secondary {
    grid-area: nav;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}

@media (max-width: 860px) {
    body {
        min-width: 300px;
        overflow-x: hidden;
        display: grid;
        margin: 0 auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
      "header"
      "h1"
      "hero"
      "nav"
      "main"
      "aside"
      "footer";
    }


    header nav,
    header nav div {
        display:flex;
        flex:1 100%;
        width:100%;
        flex-direction:column;
        flex-wrap:wrap;
        gap:10px;
        height:100%;
    }


    aside section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    aside section div {
        width: 10%;
        flex: 1;
        flex-wrap: wrap;
    }

    h1 {
        display: none;
    }

    footer,
    footer section {
        display: flex;
        flex-direction: column;
    }
}

section#hero section,
nav#nav-secondary section,
main section,
aside section,
footer section {
    gap:10px;
}

