body {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    grid-template-areas:
            "header"
            "heading"
            "hero"
            "nav"
            "main"
            "aside"
            "footer";
}
/* @formatter:off */
header              { grid-area: header }
section#hero        { grid-area: hero }
section#heading     { grid-area: heading }
section#nav         { grid-area: nav }
main                { grid-area: main }
aside               { grid-area: aside }
footer              { grid-area: footer }

@media (min-width: 1024px) {
    body {
        grid-template-areas:
        "header       header      header     header    header"
        "heading      hero        hero       hero      hero"
        "heading      nav         nav        nav       aside"
        "heading      main        main       main      aside"
        "footer       footer      footer     footer    footer";
        }

}