/* @formatter:off */
@font-face {  font-family: "fontBold";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("woff2");  }
@font-face {  font-family: "fontMedium";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("woff2");
    font-weight: 500;  }
@font-face {  font-family: "fontRegular";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("woff2");
    font-weight: 400;  }
@font-face {  font-family: "fontLight";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("woff2");
    font-weight: 300;  }

/*
background: linear-gradient(
    0deg,
    #ff355e,
    #fd5b78 7.7%,
    #ff6037 15.4%,
    #ff9966 23.1%,
    #ff9933 30.8%,
    #ffcc33 38.5%,
    #ffff66 46.2%,
    #ccff00 53.9%,
    #66ff66 61.6%,
    #aaf0d1 69.3%,
    #50bfe6 77%,
    #ff6eff 84.7%,
    #ee34d2 92.4%,
    #ff00cc 100%
  );

*/



    /* blue, red, purple and orange */
    /* pink, red and blue, purple */
    /* warm and bright hues */

    /*
    Children had positive reactions to bright colors
    (e.g., pink, blue, red)
    and negative emotions for dark colors
    (e.g., brown, black, gray)
    */

* { box-sizing: border-box; padding: 0; }

body {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    grid-template-columns:auto;
    grid-template-rows:auto;
    color: var(--primary);
    grid-template-areas:
            "header"
            "heading"
            "main"
            "aside"
            "footer";
}

header          { grid-area: header;   background: var(--primary); }
section#heading { grid-area: heading;  background: var(--primary); }
main            { grid-area: main;     }
aside           { grid-area: aside;    }
footer          { grid-area: footer;   }
header a.logo   { grid-area: logo;     }
header span     { grid-area: menu;     }
header nav      { grid-area: nav;      }

.fa-heart {
    font-size: 13px;
    background: -webkit-radial-gradient(#c51104, #fe251b, #ff4033, #fe8e86);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1,
#hero-h1 {
    padding: 0 10px;
    font-size: 5vw;
    font-family: fontBold,sans-serif;
    letter-spacing: .4em;
    line-height: 1.7em;
    background-color: transparent;
    color: var(--white);
}

h1 {
    color: var(--white);
}

h2 {
    font-size: 1.5em;
    font-family: fontMedium,sans-serif;
    letter-spacing: .2em;
    line-height: 1.7em;
    background-color: var(--primary);
    padding: 10px;
    color: var(--white);
}

h3 {
    font-size: 1em;
    color: var(--white);
    background-color: var(--primary);
    font-family: fontRegular,sans-serif;
    letter-spacing: .1em;
    line-height: 1.4em;
    padding: 10px;
}

h4 {
    font-size: 1em;
    font-family: fontBold,sans-serif;
    color: var(--primary);
    letter-spacing: .1em;
    line-height: 1.7em;
    padding: 10px;
}

a {
    font-size: .9em;
    text-decoration: none;
    font-family: fontRegular, sans-serif;
    color: var(--primary);
}

p {
    padding: 0 10px;
    color: var(--primary);
    font-size: 16px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

/* @formatter:on */

header {
    display: grid;
    align-items: center;
    justify-items: baseline;
    grid-template-areas:
            "logo   .       menu"
            "nav    nav     nav";
}

img.logo {
    height: 42px;
}

section#hero,
div#overlay {
    height: 50vh;
    background-size: contain;
    background: url(https://vilikkevite.netlify.app/assets/images/mavis-cw-164128.jpg) no-repeat center;
}

section#hero div#overlay {
    background: rgba(0, 0, 0, .4);
}

section#hero div#overlay h2,
section#hero div#overlay p,
section#hero div#overlay div.btn-box {
    color: var(--white);
    width: 90%;
    justify-content: space-between;
}

#hero .btn-box {
    margin-top: 20px;
    padding: 0 10px;
}

/* @formatter:off */
section#hero div#overlay div.btn-box button.btn-primary { flex-basis: 60%; }
section#hero div#overlay div.btn-box button.btn-secondary { flex-basis: 38%; }
/* @formatter:on */

section#heading h1 {
    margin: 0;
    writing-mode: horizontal-tb;
}

header span#toggle-button {
    justify-self: end;
    cursor: pointer;
    color: var(--white);
    padding: 20px;
}

header nav#toggle-element {
    display: none;
}

header nav#toggle-element div {
    background: #4c5a69;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: end;
    flex: 1 70%;
    background: var(--primary);
}

header nav#toggle-element div a {
    text-decoration: none;
    text-align: right;
    padding: 30px;
    letter-spacing: .25em;
    color: var(--offWhite);
    font-size: 16px;
}

header nav#toggle-element div a.active {
    font-family: fontBold, sans-serif;
    color: var(--white)
}

header nav#toggle-element div a:hover {
    transition: .7s ease-in-out;
    color: var(--white);
    /**
     background-image: linear-gradient(
             0deg,
             #ff355e,
             #fd5b78 7.7%,
             #ff6037 15.4%,
             #ff9966 23.1%,
             #ff9933 30.8%,
             #ffcc33 38.5%,
             #ffff66 46.2%,
             #ccff00 53.9%,
             #66ff66 61.6%,
             #aaf0d1 69.3%,
             #50bfe6 77%,
             #ff6eff 84.7%,
             #ee34d2 92.4%,
             #ff00cc 100%);
     background-size: 50%;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;
     **/
}

section#nav {
    padding-top: 0;
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

section#nav div {
    flex: 1 20%;
    color: var(--primary);
    text-align: center;
}

section#nav div a {
    color: var(--primary);
}

section#nav div a i {
    height: 80px;
    width: 80px;
    line-height: 70px;
    border-radius: 50%;
    vertical-align: center;
    color: var(--white);
    background: var(--primary);
    border: 3px solid var(--white);
}

section#nav div a i:hover {
    transition: .7s ease;
    background-color: var(--white);
    color: var(--primary);
    border: 3px solid var(--primary);
}

main h3 {
    background-color: var(--primary);
}

main h4 {
    color: var(--primary);
}


main,
aside {
    width: 90%;
    margin: 0 auto;
}

aside section div {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

footer,
footer section,
footer section div,
footer section div address p a {
    flex: 1;
    color: var(--primary);
}

footer > div > p {
    width: 100%;
    text-align: center;
}

header, footer {
    padding-left: 0;
}

/* @formatter:off */
footer div p        { font-size: 10px; }
img                 { max-width: 250px; }
/* @formatter:on */

.row-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
}

@media (min-width: 640px) {
    section#hero div#overlay h2,
    section#hero div#overlay p,
    section#hero div#overlay div.btn-box {
        width: 65%;
    }
}

@media (min-width: 1024px) {
    body {
        overflow-x: hidden;
        max-width: 100%;
        grid-template-columns:80px auto auto;
        grid-template-rows:auto;
        grid-template-areas:
                "header       header      header"
                "heading      main        aside"
                "footer       footer      footer";
    }

    h1,
    #hero-h1 {
        font-family: fontBold, sans-serif;
        letter-spacing: .4em;
        line-height: 1.7em;
        background-color: transparent;
        color: var(--white);
    }

    #hero-h1 {
        font-size: 3vw;
    }

    h1 {
        font-size: 2vw;
        color: var(--white);
    }

    h2 {
        font-size: 1.5em;
        font-family: fontMedium, sans-serif;
        letter-spacing: .2em;
        line-height: 1.7em;
        background-color: var(--primary);
        padding: 10px;
        color: var(--white);
    }

    h3 {
        font-size: 1em;
        color: var(--white);
        background-color: var(--primary);
        font-family: fontRegular, sans-serif;
        letter-spacing: .1em;
        line-height: 1.4em;
        padding: 10px;
    }

    h4 {
        font-size: 1em;
        font-family: fontBold, sans-serif;
        color: var(--primary);
        letter-spacing: .1em;
        line-height: 1.7em;
        padding: 10px;
    }

    a {
        font-size: .9em;
        text-decoration: none;
        font-family: fontRegular, sans-serif;
        color: var(--primary);
    }

    p {
        color: var(--primary);
        font-size: 16px;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
    }

    header {
        display: grid;
        align-items: center;
        justify-items: baseline;
        grid-template-areas:
            "logo   .   nav";
    }

    header span#toggle-button {
        display: none;
    }

    header nav#toggle-element {
        display: block;
    }

    header nav#toggle-element div {
        display: flex;
        flex-direction: row;
        flex: 1;
        background: transparent;
    }

    header nav#toggle-element div a {
        text-align: center;
        text-decoration: none;
        letter-spacing: .25em;
        color: var(--offWhite);
        font-size: 16px;
    }

    header nav#toggle-element div a.active {
        font-family: fontBold, sans-serif;
        color: var(--white)
    }

    header nav#toggle-element div a:hover {
        transition: .7s ease-in-out;
        color: var(--white);
    }

    section#heading h1 {
        writing-mode: vertical-lr;
        letter-spacing: .4em;
        padding: 0 10px;
    }

    section#hero,
    div#overlay {
        height: 80vh;
        background: url(https://vilikkevite.netlify.app/assets/images/mavis-cw-164128.jpg) no-repeat center;
        background-size: cover;
        align-content: flex-start;
        justify-content: center;
    }

    section#hero div#overlay p,
    section#hero div#overlay div.btn-box {
        width: 40%;
        color: var(--white);
    }

    section#nav {
        margin-top: -30px;
    }

    section#nav div {
        flex: 1 10%;
    }

    aside {
        text-align: center;
        width: 300px;
    }

    aside div a {
        flex: 1 100%;
        font-size: 1.2vw;
    }


    .row-desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
    }

    .col-desktop {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
    }
}


.btn-primary {
    outline: 0;
    border: 2px solid var(--white);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--white);
    color: var(--primary);
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .2em;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
    transition: .5s ease-in-out;
}

.btn-secondary {
    outline: 0;
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .2em;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--white);
    color: var(--primary);
    border-color: var(--white);
    transition: .5s ease-in-out;
}

header,
header a,
header nav,
header nav > * {
    background: transparent;
}

header,
header nav,
header nav > * {
    background: linear-gradient(
            90deg,
            #ff00cc,
            #ee34d2 7.7%,
            #ff6eff 15.4%,
            #50bfe6 23.1%,
            #aaf0d1 30.3%,
            #66ff66 38.6%,
            #ccff00 46.9%,
            #ffff66 53.2%,
            #ffcc33 61.5%,
            #ff9933 69.8%,
            #ff9966 77.1%,
            #ff6037 84.4%,
            #fd5b78 92.4%,
            #ff355e 100%
    );
}
/*
aside section div a {
    background-image: linear-gradient(
            90deg,
            #ff00cc,
            #ee34d2 7.7%,
            #ff6eff 15.4%,
            #50bfe6 23.1%,
            #aaf0d1 30.3%,
            #66ff66 38.6%,
            #ccff00 46.9%,
            #ffff66 53.2%,
            #ffcc33 61.5%,
            #ff9933 69.8%,
            #ff9966 77.1%,
            #ff6037 84.4%,
            #fd5b78 92.4%,
            #ff355e 100%);
}
*/

aside section div a i  {
    background-image: linear-gradient(
            90deg,
            #ff00cc,
            #ee34d2 7.7%,
            #ff6eff 15.4%,
            #50bfe6 23.1%,
            #aaf0d1 30.3%,
            #66ff66 38.6%,
            #ccff00 46.9%,
            #ffff66 53.2%,
            #ffcc33 61.5%,
            #ff9933 69.8%,
            #ff9966 77.1%,
            #ff6037 84.4%,
            #fd5b78 92.4%,
            #ff355e 100%);
    color: transparent;

}

/**
#ff00cc,
#ee34d2 7.7%,
#ff6eff 15.4%,
#50bfe6 23.1%,
#aaf0d1 30.3%,
#66ff66 38.6%,
#ccff00 46.9%,
#ffff66 53.2%,
#ffcc33 61.5%,
#ff9933 69.8%,
#ff9966 77.1%,
#ff6037 84.4%,
#fd5b78 92.4%,
#ff355e 100%



#ff355e,
#fd5b78 7.7%,
#ff6037 15.4%,
#ff9966 23.1%,
#ff9933 30.8%,
#ffcc33 38.5%,
#ffff66 46.2%,
#ccff00 53.9%,
#66ff66 61.6%,
#aaf0d1 69.3%,
#50bfe6 77%,
#ff6eff 84.7%,
#ee34d2 92.4%,
#ff00cc 100%



 */
section#heading {
    background: linear-gradient(
            0deg,
            #ff355e,
            #fd5b78 7.7%,
            #ff6037 15.4%,
            #ff9966 23.1%,
            #ff9933 30.8%,
            #ffcc33 38.5%,
            #ffff66 46.2%,
            #ccff00 53.9%,
            #66ff66 61.6%,
            #aaf0d1 69.3%,
            #50bfe6 77%,
            #ff6eff 84.7%,
            #ee34d2 92.4%,
            #ff00cc 100%
    );
}
