/* @formatter:off */
@font-face {  font-family: "fontBold";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("woff2");  }
@font-face {  font-family: "fontMedium";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("woff2");
    font-weight: 500;  }
@font-face {  font-family: "fontRegular";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("woff2");
    font-weight: 400;  }
@font-face {  font-family: "fontLight";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("woff2");
    font-weight: 300;  }

:root {
    --primary: #4c5a69;
    --secondary: #ac92ea;
    --tertiary: orange;
    --white: #fff;
    --offWhite: #ddd;

    --radicalRed: #FF355E;
    --wildWatermelon: #FD5B78;
    --outrageousOrange: #FF6037;
    --atmoicTangerine: #FF9966;
    --neonCarrot: #FF9933;
    --sunglow: #FFCC33;
    --laserLemon: #FFFF66;
    --unmellowYellow: #FFFF66;
    --electricLime: #CCFF00;
    --screaminGreen: #66FF66;
    --magicMint: #AAF0D1;
    --blizzardBlue: #50BFE6;
    --shockingPink: #FF6EFF;
    --razzleDazzleRose: #EE34D2;
    --hotMagneta: #FF00CC;
    --purplePizzazz: #FF00CC;
    /*

background: linear-gradient(
    0deg,
    #ff355e,
    #fd5b78 7.7%,
    #ff6037 15.4%,
    #ff9966 23.1%,
    #ff9933 30.8%,
    #ffcc33 38.5%,
    #ffff66 46.2%,
    #ccff00 53.9%,
    #66ff66 61.6%,
    #aaf0d1 69.3%,
    #50bfe6 77%,
    #ff6eff 84.7%,
    #ee34d2 92.4%,
    #ff00cc 100%
  );

*/



    /* blue, red, purple and orange */
    /* pink, red and blue, purple */
    /* warm and bright hues */

    /*
    Children had positive reactions to bright colors
    (e.g., pink, blue, red)
    and negative emotions for dark colors
    (e.g., brown, black, gray)
    */

    --rainbow: #000;    /*      index        */
    --yellow: #000;     /*      visit        */
    --green: #000;      /*      events       */
    --blue: #000;       /*      exhibition   */
    --purple: #000;     /*      explore      */
    --orange: #000;     /*      get involved */
    --red: #000;        /*      contact      */
}

* { box-sizing: border-box; padding: 0; }

body {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    padding: 5px 20px;
    overflow-x: hidden;
    grid-template-columns:auto;
    grid-template-rows:auto;
    color: var(--primary);
    grid-template-areas:
            "header"
            "heading"
            "main"
            "aside"
            "footer";
}

header          { grid-area: header;   }
section#heading { grid-area: heading;  }
main            { grid-area: main;       }
aside           { grid-area: aside;      }
footer          { grid-area: footer;    }
header a        { grid-area: logo;     }
header span     { grid-area: menu;     }
header nav      { grid-area: nav;      }

#toggle-button,
#hero #overlay h2,
#hero #overlay p,
#hero #overlay div.btn-box,
#heading h1,
main h2,
main h3,
main section,
aside h3,
aside div,
footer section,
header,
main,
aside,
#nav { padding:0 20px; }

header, section.index, section#heading, main h2, aside { background-color:var(--primary);   }
header > *, section#hero div p                        { color: var(--offWhite); }

h1, h2, h3, h4, h5, a, i.fas { color: var(--white); }
h1 { font-size: 32px; font-family: fontBold, sans-serif; letter-spacing: .3em; font-weight: 700; }
h2 { font-size: 32px; font-family: fontMedium, sans-serif; letter-spacing: .3em; font-weight: 700; }
h3 { font-size: 24px; font-family: fontMedium, sans-serif; letter-spacing: .2em; font-weight: 500; }
h4 { font-size: 24px; font-family: fontRegular, sans-serif; letter-spacing: .2em; font-weight: 500; }
h5 { font-size: 20px; font-family: fontRegular, sans-serif; letter-spacing: .1em; font-weight: 300; }
h6 { font-size: 20px; font-family: fontLight, sans-serif; letter-spacing: .1em; font-weight: 300; }
strong { font-size: 16px; font-family: fontRegular, sans-serif; letter-spacing: .1em; font-weight: 100; }
p      { font-size: 16px; font-family: fontLight, sans-serif; letter-spacing: .1em; font-weight: 100; }
a      { text-decoration: none; font-family: fontRegular, sans-serif; font-weight: 100;}
h6 { color: var(--primary); }

.fa-heart {
    font-size: 13px;
    background: -webkit-radial-gradient(#c51104, #fe251b, #ff4033, #fe8e86);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* @formatter:on */

header {
    display: grid;
    align-items: center;
    justify-items: baseline;
    grid-template-areas:
            "logo   .       menu"
            "nav    nav     nav";
}

img.logo {
    height: 82px;
    margin: 0;
    padding: 0;
}

section#hero,
div#overlay {
    height: 50vh;
    background-size: contain;
    background: url(https://vilikkevite.netlify.app/assets/images/mavis-cw-164128.jpg) no-repeat center;
}

section#hero div#overlay {
    background: rgba(0, 0, 0, .4);
}

section#hero div#overlay h2,
section#hero div#overlay p,
section#hero div#overlay div.btn-box {
    width: 90%;
    justify-content: space-between;
}

#hero .btn-box {
    margin-top: 20px;
}

/* @formatter:off */
section#hero div#overlay div.btn-box button.btn-primary { flex-basis: 60%; }
section#hero div#overlay div.btn-box button.btn-secondary { flex-basis: 38%; }
/* @formatter:on */

section#heading h1 {
    letter-spacing: .4em;
    margin: 0;
    writing-mode: horizontal-tb;
}

header span#toggle-button {
    justify-self: end;
    cursor: pointer;
}

header nav#toggle-element {
    display: none;
    width: 100%;
    border-top: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--offWhite);
    letter-spacing: .25em;
    padding: 30px;
}

nav a.active {
    color: var(--white)
}

nav a:hover {
    margin-left: 30px;
    transition: .6s linear;
    color: var(--primary);
   /**
    background-image: linear-gradient(
            0deg,
            #ff355e,
            #fd5b78 7.7%,
            #ff6037 15.4%,
            #ff9966 23.1%,
            #ff9933 30.8%,
            #ffcc33 38.5%,
            #ffff66 46.2%,
            #ccff00 53.9%,
            #66ff66 61.6%,
            #aaf0d1 69.3%,
            #50bfe6 77%,
            #ff6eff 84.7%,
            #ee34d2 92.4%,
            #ff00cc 100%);
    background-size: 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    **/
}

section#nav {
    padding-top: 0;
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

section#nav div {
    flex: 1 20%;
    color: var(--primary);
    text-align: center;
}

section#nav div a {
    color: var(--primary);
}

section#nav div a i {
    height: 80px;
    width: 80px;
    line-height: 70px;
    border-radius: 50%;
    vertical-align: center;
    color: var(--white);
    background: var(--primary);
    border: 3px solid var(--white);
}

section#nav div a i:hover {
    transition: .7s ease;
    background-color: var(--white);
    color: var(--primary);
    border: 3px solid var(--primary);
}

main h3         { background-color: var(--primary); }
main h4         { color: var(--primary); }

aside section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

aside section div a {
    font-size: 20px;
}

footer,
footer section,
footer section div {
    flex: 1;
    color: var(--primary);
}

footer > div > p {
    width: 100%;
    text-align: center;
}

header, footer { padding-left: 0; }

/* @formatter:off */
footer div p        { font-size: 10px; }
img                 { max-width: 250px; }
/* @formatter:on */

.row-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
}

@media (min-width: 640px) {
    section#hero div#overlay h2,
    section#hero div#overlay p,
    section#hero div#overlay div.btn-box {
        width: 65%;
    }
}

@media (min-width: 1024px) {
    body {
        grid-template-columns:80px auto auto;
        grid-template-rows:auto;
        grid-template-areas:
                "header       header      header      header"
                "heading      main        main        aside"
                "footer       footer      footer      footer";
    }

    header {
        display: grid;
        align-items: center;
        justify-items: baseline;
        grid-template-areas:
            "logo   .   nav";
    }

    header span#toggle-button {
        display: none;
    }

    header nav#toggle-element {
        display: flex;
        justify-content: end;
        gap: 10px;
        width: 100%;
    }

    nav#toggle-element a {
        flex: 1 auto;
        display: block;
        color: var(--offWhite);
    }

    nav#toggle-element a.active {
        color: var(--white);
    }

    nav#toggle-element a:hover {
        margin-left: 0;
        color: var(--white);
        transition: .6s linear;
    }

    section#heading h1 {
        writing-mode: vertical-lr;
        letter-spacing: .4em;
    }

    section#hero,
    div#overlay {
        background: url(https://vilikkevite.netlify.app/assets/images/mavis-cw-164128.jpg) no-repeat center top;
        background-size: cover;
        align-content: flex-start;
        justify-content: center;
    }

    section#hero div#overlay p,
    section#hero div#overlay div.btn-box {
        width: 40%;
    }

    section#nav {
        margin-top: -30px;
    }

    section#nav div {
        flex: 1 10%;
    }

    .row-desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        gap: 20px;
    }

    .col-desktop {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        gap: 20px;
    }
}


.btn-primary {
    outline: 0;
    border: 2px solid var(--white);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--white);
    color: var(--primary);
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .2em;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
    transition: .5s ease-in-out;
}

.btn-secondary {
    outline: 0;
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .2em;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--white);
    color: var(--primary);
    border-color: var(--white);
    transition: .5s ease-in-out;
}
