/* @formatter:off */
@font-face {  font-family: "fontBold";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("woff2");  }
@font-face {  font-family: "fontMedium";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("woff2");
    font-weight: 500;  }
@font-face {  font-family: "fontRegular";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("woff2");
    font-weight: 400;  }
@font-face {  font-family: "fontLight";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("woff2");
    font-weight: 300;  }

:root {
    --primary: #4c5a69;
    --secondary: #ac92ea;
    --tertiary: orange;
    --white: #fff;
    --offWhite: #ddd;

    --radicalRed: #FF355E;
    --wildWatermelon: #FD5B78;
    --outrageousOrange: #FF6037;
    --atmoicTangerine: #FF9966;
    --neonCarrot: #FF9933;
    --sunglow: #FFCC33;
    --laserLemon: #FFFF66;
    --unmellowYellow: #FFFF66;
    --electricLime: #CCFF00;
    --screaminGreen: #66FF66;
    --magicMint: #AAF0D1;
    --blizzardBlue: #50BFE6;
    --shockingPink: #FF6EFF;
    --razzleDazzleRose: #EE34D2;
    --hotMagneta: #FF00CC;
    --purplePizzazz: #FF00CC;
}


* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    min-width: 300px;
    margin: 0 auto; /* Center align once max-width is reached */
    overflow-x: hidden;
    padding: 5px 10px;
    display: grid;
    grid-template-areas:
    "header"
    "h1"
    "hero"
    "nav"
    "main"
    "aside"
    "footer";
}


/* @formatter:off */
header { grid-area: header;     padding: 5px 10px;}
h1#h1 { grid-area: h1;     padding: 5px 10px;}
section#hero { grid-area: hero;     padding: 5px 10px;}
nav#nav-secondary { grid-area: nav;     padding: 5px 10px;}
main { grid-area: main;     padding: 5px 10px;}
aside { grid-area: aside;     padding: 5px 10px;}
footer { grid-area: footer;     padding: 5px 10px;}
/* @formatter:on */


header > a,
footer > a,
img.logo {
    width: 80px;
}

/**********     HEADER#HEADER-MOBILE    ***********/
header.header-mobile {
    min-width: 300px;
    overflow-x: hidden;
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 90%;
}

header.header-mobile,
header.header-mobile section {
    position: fixed;
    background: var(--primary);
}

header.header-mobile section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}

header.header-mobile section a,
header.header-mobile section span {
    flex: 1;
}

header.header-mobile section span {
    text-align: right;
    color: var(--white);
    padding: 0 20px;
}

header.header-desktop,
div#toggle-element {
    display: none;
}

header.header-mobile nav {
    width: 100%;
}

header.header-mobile nav div#toggle-element {
    background: var(--primary);
    position: fixed;
    margin: 80px 0;
    width: 97%;
}

header.header-mobile nav div#toggle-element a {
    display: block;
    width: 100%;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: var(--offWhite);
    text-transform: uppercase;
    border-bottom: 1px solid var(--white);
}

header.header-mobile nav div#toggle-element a:hover {
    background: var(--tertiary);
    color: var(--primary);
    transition: .5s linear;
}

header.header-mobile nav div#toggle-element a.active {
    background: var(--tertiary);
    color: var(--primary);
}

/**********     SECTION#H1    ***********/
section#h1 {
}

/**********     SECTION#HERO    ***********/
section#hero {
    height: 60vh;
    background: url("../assets/images/roberto-nickson-396152.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    section#hero section{
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(5px);
        background-color: rgba(111, 111, 111, 0.3);
        max-width: 450px;
    }
}

section#hero section h2 {
    color: var(--white);
    font-family: fontBold, sans-serif;
    letter-spacing: .4em;
    padding: 10px;

}

section#hero section p {
    line-height: 1.7em;
    letter-spacing: .07em;
    color: var(--white);
    padding: 10px;

}

section#hero section div {
    display: flex;
    gap: 10px;
    padding:20px 10px;
}

section#hero section div button:first-child {
    flex: 2 65%;
}

section#hero section div button:first-child {
    flex: 1 35%;
}

/**********     NAV#NAV-SECONDARY    ***********/
nav#nav-secondary {

}

nav#nav-secondary section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -35px;
}


nav#nav-secondary section div {
    width: 80px;
    flex: 1 25%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav#nav-secondary section div > a {
    background: var(--primary);
    border: 3px solid var(--white);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

nav#nav-secondary section div > a i {
    width: 100%;
    color: var(--white);
}

nav#nav-secondary section div > p {
    padding-top: 10px;
}

nav#nav-secondary section div > p a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--primary);
    font-size: 14px;
}

nav#nav-secondary section div > a:hover {
    background: rgb(241, 111, 8);
    background: radial-gradient(circle,
    rgba(241, 111, 8, 1) 0%,
    rgba(255, 153, 51, 1) 45%,
    rgba(255, 211, 0, 1) 100%,
    rgba(232, 255, 0, 1) 100%);
    border: 3px solid transparent;
    transition: .5s linear;
}

/**********     MAIN    ***********/
main {
    margin-bottom: 100px;
}

main section:first-child {
    color: var(--white);
    background: var(--primary);
    padding: 0 10px;
}

main section h2 {
    padding: 10px;
    font-family: fontMedium, sans-serif;
    letter-spacing: .2em;
}

main section:last-child {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    margin-bottom: 5px;
    height: 100%;
    background: var(--primary);
}

main section div {
    max-width: 300px;
    #height: 400px;
    flex: 1 auto;
    padding: 10px;
}

main section h3 {
    font-family: fontRegular, sans-serif;
    letter-spacing: .15em;
    background: var(--primary);
    border-radius: 10px;
    color: var(--white);
    margin: 0;
    width: 100%;
    font-weight: bolder;
    text-transform: uppercase;
}


main section div p {
    line-height: 1.5em;
    letter-spacing: .13em;
    color: var(--white);
}

/**********     ASIDE    ***********/
aside {
}

aside section:first-child {
    color: var(--white);
    background: var(--primary);
}

aside section h2 {
    font-family: fontMedium, sans-serif;
    letter-spacing: .2em;
    padding: 10px;
}

aside section:last-child {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

aside section div {
    flex: 1 auto;
    text-align: center;
    justify-content: center;
}

aside section div a {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid var(--white);
    background: var(--primary);
    color: var(--white);
}

aside section div a i {
    width: 100%;
}

aside section div a:hover {
    background: rgb(241, 111, 8);
    background: radial-gradient(circle,
    rgba(241, 111, 8, 1) 0%,
    rgba(255, 153, 51, 1) 45%,
    rgba(255, 211, 0, 1) 100%,
    rgba(232, 255, 0, 1) 100%);
    border: 3px solid transparent;
    transition: .5s linear;
}

/**********     FOOTER    ***********/
footer {
    background: var(--primary);
    color: var(--white);
}

footer section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

footer section div {
    max-width: 300px;
    flex: 1 auto;
    padding: 10px;
}

footer section div h3 {
    font-family: fontRegular, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .15em;
}

footer section div p a {
    color: var(--tertiary);
    text-decoration: underline;
}

footer section div p {
    letter-spacing: .1em;
    color: var(--offWhite);
}

footer > div,
footer > div > p {
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-family: fontLight, sans-serif;
}

footer section div button {
    width: 50%;
    color: var(--tertiary);
    border: 3px solid var(--tertiary);
    background: transparent;
}

footer section div button:hover {
    background: var(--tertiary);
    border: 3px solid transparent;
    color: var(--primary);
    transition: .4s linear;
}

/**********     DIVERSE    ***********/
button {
    outline: none;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 8px;
}

.btn-primary {
    background: var(--tertiary);
    color: var(--white);
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border: 3px solid var(--primary);
}

.btn-tertiary {
    background: transparent;
    color: var(--white);
    border: 3px solid var(--white);
}

.fa-heart {
    font-size: 13px;
    background: rgb(241, 111, 8);
    background: radial-gradient(circle,
    rgba(241, 111, 8, 1) 0%,
    rgba(255, 153, 51, 1) 45%,
    rgba(255, 211, 0, 1) 100%,
    rgba(232, 255, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/***************    DESKTOP    ***************/
@media (min-width: 1024px) {
    body {
        max-width: 1920px;
        display: grid;
        margin: 0 auto;
        overflow-x: hidden;
        grid-template-columns: 80px auto;
        grid-template-rows: 75px auto;
        grid-template-areas:
    "header   header  header  header"
    "h1       hero    hero    hero"
    "h1       nav     nav     aside"
    "h1       main    main    aside"
    "footer   footer  footer  footer";
    }


    /****************   HEADER#HEADER-DESKTOP    *******************/
    /****************   SECTION#h1    *******************/
    h1#h1 {
        left: 0;
        margin-left: -10px;
        padding: 5px 10px;
        width: 90px;
        writing-mode: vertical-lr;
        color: var(--white);
        background: var(--primary);
    }

    h1#h1 {
        letter-spacing: .4em;
        font-family: fontBold, sans-serif;
    }

    /****************   SECTION#HERO    *******************/
    section#hero {

    }

    section#hero {
        height: 70vh;
        background-size: cover;
    }

    section#hero section {
        width: 500px;
        padding-left: 10px;
    }

    section#hero section h2#hero-h1 {
        letter-spacing: .4em;
        font-family: fontBold, sans-serif;
    }

    section#hero section p {

    }

    section#hero section div {

    }


    /****************   NAV#NAV-SECONDARY   *******************/
    /****************   MAIN    *******************/
    main section:last-child {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        margin-bottom: 5px;
        min-height: 60vh;
    }

    /****************   ASIDE    *******************/
    aside {
    }

    aside section:first-child {
    }

    aside section h2 {
        text-align: center;
        padding: 5px;
    }

    aside section:last-child {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    aside section div {
        flex: 1;
        padding: 20px;
        text-align: center;
        justify-content: center;
    }

    aside section div a {
        padding: 20px;
    }

    /****************   FOOTER    *******************/
    footer {
        margin-left: -10px;
    }


}