/* @formatter:off */
@font-face {  font-family: "fontBold";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("woff2");  }
@font-face {  font-family: "fontMedium";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("woff2");
    font-weight: 500;  }
@font-face {  font-family: "fontRegular";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("woff2");
    font-weight: 400;  }
@font-face {  font-family: "fontLight";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("woff2");
    font-weight: 300;  }

:root {
    --primary: #4c5a69;
    --secondary: #ac92ea;
    --tertiary: orange;
    --white: #fff;
    --offWhite: #ddd;

    --radicalRed: #FF355E;
    --wildWatermelon: #FD5B78;
    --outrageousOrange: #FF6037;
    --atmoicTangerine: #FF9966;
    --neonCarrot: #FF9933;
    --sunglow: #FFCC33;
    --laserLemon: #FFFF66;
    --unmellowYellow: #FFFF66;
    --yellowSunshine: #FFF700;
    --electricLime: #CCFF00;
    --greenLizard: #A7F432;
    --screaminGreen: #66FF66;
    --magicMint: #AAF0D1;
    --blizzardBlue: #50BFE6;
    --shockingPink: #FF6EFF;
    --razzleDazzleRose: #EE34D2;
    --hotMagneta: #FF00CC;
    --purplePizzazz: #FF00CC;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Thin", sans-serif;
    font-size: 16px;
    min-width: 300px;
    margin: 0 auto; /* Center align once max-width is reached */
    overflow-x: hidden;
    padding: 5px 10px;
    display: grid;
    grid-template-areas:
    "header"
    "h1"
    "hero"
    "nav"
    "main"
    "aside"
    "footer";
}

/* @formatter:off */
header { grid-area: header;     padding: 5px 10px;}
h1#h1 { grid-area: h1;    }
section#hero { grid-area: hero;     padding: 5px 10px;}
nav#nav-secondary { grid-area: nav;     padding: 5px 10px;}
main { grid-area: main;     padding: 5px 10px;}
aside { grid-area: aside;     padding: 5px 10px;}
footer { grid-area: footer;     padding: 5px 10px;}
/* @formatter:on */

header > a,
footer > a,
img.logo {
    width: 80px;
}

header img.logo {
    margin-left: 10px;
}

/**********     HEADER#HEADER-MOBILE    ***********/
header.header-mobile {
    min-width: 300px;
    overflow-x: hidden;
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 90%;
}

header.header-mobile,
header.header-mobile section {
    position: fixed;
    z-index: 2;
    background: var(--primary);
}

header.header-mobile section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}

header.header-mobile section span {
    flex: 1;
}

header.header-mobile section span {
    text-align: right;
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding: 0 20px;
}
header.header-mobile section span > i {
    padding: 0 10px 5px 0;
}

header.header-desktop,
div#toggle-element {
    display: none;
}

header.header-mobile nav {
    border:1px solid greenyellow;
}

header.header-mobile nav div#toggle-element {
    background: var(--primary);
    position: fixed;
    margin: 84px 0;
    width: 100%;
}

header.header-mobile nav div#toggle-element > a:first-child {
    border-top: 2px solid var(--white);
}

header.header-mobile nav div#toggle-element > a {
    display: block;
    width: 100%;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: var(--offWhite);
    text-transform: uppercase;
    font-family: fontMedium, sans-serif;
    letter-spacing: .2em;
    line-height: 1.7em;
    border-bottom: 2px solid var(--white);
}

header.header-mobile nav div#toggle-element > a:hover {
    background: var(--greenLizard);
    color: var(--primary);
    transition: .5s linear;
}

header.header-mobile nav div#toggle-element > a.active {
    background: var(--primary);
    color: var(--greenLizard);
}

header.header-mobile nav div#toggle-element address {
    display: flex;
    justify-content: space-evenly;
    padding: 35px;
    background: var(--greenLizard);
}

header.header-mobile nav div#toggle-element > address a {
    text-align: center;
    color: var(--primary);
    text-decoration: underline;
    letter-spacing: .13em;
    font-weight: bolder;
}

/**********     SECTION#H1    ***********/
h1#h1 {
    display: none;
}

h1#mobile-h1 {
    padding: 100px 0 20px 0;
    color: var(--primary);
    letter-spacing: .3em;
    text-align: center;
    font-family: fontBold, sans-serif;
    writing-mode: horizontal-tb;
}

/**********     SECTION#HERO    ***********/
section#hero {
    height: 60vh;
    background: url("../assets/images/banner-abstract.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    section#hero section {
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(6px);
        background-color: rgba(000, 000, 000, 0.45);
        max-width: 470px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
}

section#hero section h2 {
    color: var(--white);
    font-family: fontBold, sans-serif;
    letter-spacing: .2em;
}

section#hero section p {
    line-height: 1.7em;
    letter-spacing: .07em;
    color: var(--white);
}

section#hero section div {
    display: flex;
    gap: 10px;
    padding: 10px 0 15px 0;
    text-align: center;
}

section#hero section div a:first-child {
    flex: 1 65%;
}

section#hero section div a:first-child {
    flex: 1 35%;
}

/**********     NAV#NAV-SECONDARY    ***********/
nav#nav-secondary section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -35px;
}

nav#nav-secondary section div {
    width: 80px;
    flex: 1 25%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav#nav-secondary section div > a {
    border: 3px solid var(--white);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* @formatter:off */
nav#nav-secondary section div:nth-child(1) > a { background-color: var(--shockingPink); }
nav#nav-secondary section div:nth-child(2) > a { background-color: var(--blizzardBlue); }
nav#nav-secondary section div:nth-child(3) > a { background-color: var(--greenLizard); }
nav#nav-secondary section div:nth-child(4) > a { background-color: var(--yellowSunshine); }
nav#nav-secondary section div:nth-child(5) > a { background-color: var(--sunglow); }
nav#nav-secondary section div:nth-child(6) > a { background-color: var(--atmoicTangerine); }
nav#nav-secondary section div:nth-child(7) > a { background-color: var(--wildWatermelon); }
/* @formatter:on */

nav#nav-secondary section div > a i {
    width: 100%;
    font-size: 22px;
    color: var(--white);
}

nav#nav-secondary section div > p {
    padding-top: 5px;
    font-size: 16px;
}

nav#nav-secondary section div > p a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: fontRegular, sans-serif;
    color: var(--primary);
    font-size: 14px;
}

nav#nav-secondary section div > a:hover {
    background: rgb(241, 111, 8);
    background: radial-gradient(circle,
    rgba(241, 111, 8, 1) 0%,
    rgba(255, 153, 51, 1) 45%,
    rgba(255, 211, 0, 1) 100%,
    rgba(232, 255, 0, 1) 100%);
    border: 3px solid transparent;
    transition: .5s linear;
}

/**********     MAIN    ***********/
main {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    color: var(--primary);
}

main section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    justify-content: center;
}

main h2 {
    padding: 10px;
    font-family: fontBold, sans-serif;
    letter-spacing: .3em;
    color: var(--primary);
    background: var(--greenLizard);
    font-size: 18px;
}

main section div {
    border-radius: 10px;
    max-width: 300px;
    padding: 10px;
    flex: 1 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
}

main section div h3 {
    font-family: fontMedium, sans-serif;
    letter-spacing: .17em;
    font-size: 16px;
    padding: 10px;
    background: var(--primary);
    color: var(--greenLizard);
    border-radius: 5px;
}

main section div h2 {
    font-family: fontMedium, sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    display: flex;
}

main section div p {
    line-height: 1.5em;
    letter-spacing: .13em;
}

/**********     ASIDE    ***********/
aside {
}

aside section:first-child {
    color: var(--primary);
}

aside section h2 {
    font-family: fontMedium, sans-serif;
    letter-spacing: .2em;
    padding: 10px;
    text-align: left;
}

aside section:last-child {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    row-gap: 0;
}

aside section div {
    flex: 1 25%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

aside section div a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid transparent;
    background: var(--white);
}

/* @formatter:off */
aside section div:nth-child(1) a {
    color: var(--white);
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285AEB 90%);
    box-shadow: 0 3px 10px rgba(0,0,0,.25);
    border-radius: 13px;
    border:none;
}

aside section div:nth-child(2) a {
    color: #eee;
    background: #3b5998;
    border: 3px solid #3b5998;
    box-shadow: 0 3px 10px rgba(0,0,0,.25);
}
aside section div:nth-child(3) a {
    background-image: linear-gradient(45deg, #4481eb 0%, #04befe 100%);
    /* color: transparent; /**/
    /* -webkit-background-clip: text; /**/
    /* background-clip: text; /**/
    color: var(--white); /**/
    box-shadow: 0 3px 10px rgba(0,0,0,.25);
}
aside section div:nth-child(4) a {
    color: var(--white);
    background-color: #fe251b;
    box-shadow: 0 3px 10px rgba(0,0,0,.25);
}

/* @formatter:on */
aside section div a i {
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid transparent;
    background: transparent;
    font-size: 22px;
}

aside section div a:hover {
    background: rgb(241, 111, 8);
    background: radial-gradient(circle,
    rgba(241, 111, 8, 1) 0%,
    rgba(255, 153, 51, 1) 45%,
    rgba(255, 211, 0, 1) 100%,
    rgba(232, 255, 0, 1) 100%);
    color: var(--white);
    border: 3px solid transparent;
    transition: .5s linear;
}

/**********     FOOTER    ***********/
footer * {
    #border:1px solid greenyellow;;
}

footer {
    background: var(--primary);
    color: var(--white);
}

footer section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

footer section div {
    max-width: 300px;
    padding: 10px;
    flex: 1 100%;
}

footer section div h3:first-child {
    padding-bottom: 10px;
}
footer section > div > a {
    display: inline-block;
    width: 150px;
    text-align: center;
}
footer section div h3 {
    font-family: fontRegular, sans-serif;
    letter-spacing: .15em;
    font-size: 15px;
    font-weight: bolder;
    line-height: 1.4em;
    text-transform: uppercase;
}

footer section div p a {
    color: var(--greenLizard);
    text-decoration: underline;
}

footer section div p {
    letter-spacing: .1em;
    color: var(--offWhite);
}

footer h3,
footer p {
    text-align: left;
    font-size: 11px;
    font-family: fontLight, sans-serif;
}

footer > div > p {
    text-align: center;
    font-size: 10px;
}

footer section div a.btn {
    color: var(--greenLizard);
    border: 3px solid var(--greenLizard);
    background: transparent;
    font-size: 18px;
}

footer section div a.btn:hover {
    background: var(--greenLizard);
    border: 3px solid transparent;
    color: var(--primary);
    transition: .4s linear;
}

/**********     DIVERSE    ***********/
a.btn {
    outline: none;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    padding: 10px;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
}

.btn-primary {
    background: var(--greenLizard);
    color: var(--primary);
    border: 3px solid var(--greenLizard);
    padding: 5px;
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border: 3px solid var(--primary);
    padding: 5px;
}

.btn-tertiary {
    background: var(--primary);
    color: var(--greenLizard);
    border: 3px solid var(--primary);
}

.fa-heart {
    font-size: 13px;
    background: var(--greenLizard);
    background: radial-gradient(circle,
    #90e70c 0%,
    #81ce0b 45%,
    #72b60a 100%,
    #639e08 100%);

    /*
    background: rgb(241, 111, 8);
    background: radial-gradient(circle,
    rgba(241, 111, 8, 1) 0%,
    rgba(255, 153, 51, 1) 45%,
    rgba(255, 211, 0, 1) 100%,
    rgba(232, 255, 0, 1) 100%);
    /**/

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    max-width: 100%;
}

div.mapouter {
    position: relative;
    text-align: left;
    height: 200px;
    max-width: 100%;
    padding: 0;
    box-shadow: none;
}

div.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    max-width: 100%;
    padding: 0;
    box-shadow: none;

}

/***************    TABLET    ***************/
@media (min-width: 640px) {
    body {

    }

    /****************   HEADER#HEADER-DESKTOP    *******************/
    /****************   SECTION#h1    *******************/
    /****************   SECTION#HERO    *******************/
    /* @formatter:off */
    section#hero { height: 65vh; }
}


/****************   NAV#NAV-SECONDARY   *******************/
/****************   MAIN    *******************/

/****************   ASIDE    *******************/
/****************   FOOTER    *******************/
footer {
    display: flex;
    flex-direction: column;
}

footer section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

/* @formatter:on */


/***************    DESKTOP    ***************/
@media (min-width: 1024px) {
    body {
        max-width: 1920px;
        display: grid;
        margin: 0 auto;
        overflow-x: hidden;
        grid-template-columns: 80px auto;
        grid-template-rows: 75px auto;
        grid-template-areas:
    "header   header  header  header"
    "h1       hero    hero    hero"
    "h1       nav     nav     aside"
    "h1       main    main    aside"
    "footer   footer  footer  footer";
    }


    /****************   HEADER#HEADER-DESKTOP    *******************/
    header.header-mobile {
        display: none;
    }

    header.header-desktop {
        display: flex;
        gap: 100px;
        background: var(--primary);
    }

    header.header-desktop > a,
    header.header-desktop > a > img {
        margin-left: -5px;
    }

    header.header-desktop nav {
        display: flex;
        gap: 50px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    header.header-desktop nav a {
        text-decoration: none;
        font-family: fontLight, sans-serif;
        letter-spacing: .2em;
        color: var(--greenLizard);
        padding: 10px;
        flex: 1 20%;
    }

    header.header-desktop nav a.active,
    header.header-desktop nav a:hover {
        background: var(--greenLizard);
        color: var(--primary);
        transition: .5s linear;
    }


    /****************   SECTION#h1    *******************/
    h1#h1 {
        display: block;
        font-family: fontBold, sans-serif;
        letter-spacing: .3em;
        color: var(--primary);
        padding: 30px 0 0 0;
        writing-mode: vertical-lr;
    }

    h1#mobile-h1 {
        display: none;
    }

    /****************   SECTION#HERO    *******************/
    section#hero {
        height: 70vh;
    }

    /****************   NAV#NAV-SECONDARY   *******************/
    /****************   MAIN    *******************/
    main section:first-child {

    }

    main section:first-child h2 {

    }

    main section:last-child {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        margin-bottom: 5px;
        min-height: 60vh;
    }

    /****************   ASIDE    *******************/
    aside {
        box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    }

    aside section div {
        max-width: 100%;
        flex: 1 105%;
    }

    aside section h2 {
        font-family: fontMedium, sans-serif;
        letter-spacing: .2em;
        padding: 10px;
        text-align: center;
    }

    aside section:last-child {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0;
        row-gap: 100px;
    }

    /****************   FOOTER    *******************/
    footer {
        margin-left: -10px;
    }


    footer section {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 10px 0 10px 100px;
        justify-content: center;

    }
}