/* @formatter:off */
@font-face {  font-family: "fontBold";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("woff2");  }
@font-face {  font-family: "fontMedium";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("woff2");
    font-weight: 500;  }
@font-face {  font-family: "fontRegular";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("woff2");
    font-weight: 400;  }
@font-face {  font-family: "fontLight";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("woff2");
    font-weight: 300;  }


    body {
        max-width: 100%;
        overflow-x: hidden;
        display: grid;
        margin: 0 auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
      "header"
      "h1"
      "hero"
      "nav"
      "main"
      "aside"
      "footer";
    }

/* @formatter:off */
header { grid-area: header; }
section#h1 { grid-area: h1; }
section#hero { grid-area: hero; }
nav#nav-secondary { grid-area: nav; }
main { grid-area: main; }
aside { grid-area: aside; }
footer { grid-area: footer; }
/* @formatter:on */

header > a,
footer > a,
img.logo {
    width:80px;
    left:0;
}

header.header-desktop {
    display: none;
}

header.header-mobile {
    display: flex;
    flex-wrap: wrap;
    border:1px solid red;
    position: absolute;
    width: 100%;
}

header.header-mobile section {
    width: 90%;
}

header.header-mobile > section > a,
header.header-mobile > section > nav {
    position: absolute;
}
header.header-mobile > section > a {

}


section {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    align-content: center;
    margin: 0 auto;
}

header,
section#h1,
section#hero,
nav#nav-secondary,
main,
aside,
footer {
    max-width: 100%;
}

a {
    text-decoration: none;
}

@media (min-width:890px) {

    body {
        max-width: 100%;
        font-family: Roboto,sans-serif;
        display: grid;
        margin: 0 auto;
        overflow-x: hidden;
        grid-template-columns: 80px auto;
        grid-template-rows: auto;
        grid-template-areas:
    "header   header  header  header"
    "h1       hero    hero    hero"
    "h1       nav     nav     aside"
    "h1       main    main    aside"
    "footer   footer  footer  footer";
    }

    h1 {
        writing-mode: vertical-lr;
        padding: 0 10px;
        color: var(--white);
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

    section#h1 {
        grid-area: h1;
        width: 100%;
        display: inline-block;
        padding-top: 10px;
    }

}