/* @formatter:off */
@font-face {  font-family: "fontBold";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("woff2");
    font-display: swap; }
@font-face {  font-family: "fontMedium";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("woff2");
    font-weight: 500;font-display: swap; }
@font-face {  font-family: "fontRegular";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("woff2");
    font-weight: 400; font-display: swap; }
@font-face {  font-family: "fontLight";
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("otf");
    src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("woff2");
    font-weight: 300;
    font-display: swap; }

:root {
    --primary: #4c5a69;
    --secondary: #ac92ea;
    --tertiary: orange;
    --white: #fff;
    --offWhite: #ddd;

    --radicalRed: #FF355E;
    --wildWatermelon: #FD5B78;
    --outrageousOrange: #FF6037;
    --atmoicTangerine: #FF9966;
    --neonCarrot: #FF9933;
    --sunglow: #FFCC33;
    --laserLemon: #FFFF66;
    --unmellowYellow: #FFFF66;
    --yellowSunshine: #FFF700;
    --electricLime: #CCFF00;
    --greenLizard: #A7F432;
    --screaminGreen: #66FF66;
    --magicMint: #AAF0D1;
    --blizzardBlue: #50BFE6;
    --shockingPink: #FF6EFF;
    --razzleDazzleRose: #EE34D2;
    --hotMagneta: #FF00CC;
    --purplePizzazz: #FF00CC;
}

* {
    box-sizing: border-box;
}

header > a,
footer > a,
img.logo { width: 80px; }

main img { max-width: 100%; }

body {
    font-family: "Roboto Thin", sans-serif;
    font-size: 16px;
    min-width: 300px;
    min-height: 100vh;
    margin: 0 auto; /* Center align once max-width is reached */
    overflow-x: hidden;
    padding: 0 10px;
    display: grid;
    grid-template-areas:
    "header"
    "h1"
    "hero"
    "nav"
    "main"
    "aside"
    "footer";
}

/* @formatter:off */
header              { grid-area: header;     color: var(--white);       background: var(--primary); }
h1#h1               { grid-area: h1;         color:var(--primary);                                  }
section#hero        { grid-area: hero;                                                              }
nav#nav-secondary   { grid-area: nav;                                        }
main                { grid-area: main;                                              }
aside               { grid-area: aside;                                      }
footer              { grid-area: footer;      color: var(--white);      background: var(--primary); }
/* @formatter:on */

header.header-mobile {
    min-width: 300px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 90%;
}

header.header-mobile,
header.header-mobile section {
    background: var(--primary);
    display: flex;
    position: fixed;
    z-index: 2;
}

header.header-mobile section {
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}

header.header-mobile span {
    text-align: right;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    cursor: pointer;
    max-width: 90px;
}

header.header-mobile div#toggle-element {
    background: var(--primary);
    position: fixed;
    margin: 84px 0;
    width: 100%;
}

header.header-mobile div#toggle-element > a {
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--offWhite);
    text-transform: uppercase;
    font-family: fontMedium, sans-serif;
    letter-spacing: .2em;
    line-height: 1.7em;
    border-bottom: 2px solid var(--white);
}

/* @formatter:off */
header.header-desktop,
div#toggle-element { display: none; }
header.header-mobile span i { padding: 0 5px 5px 0; }
header.header-mobile span strong { font-size: 13px; }
header.header-mobile div#toggle-element > a:first-child { border-top: 2px solid var(--white); }
header.header-mobile div#toggle-element > a:hover,
header.header-mobile div#toggle-element > a.active { color: var(--greenLizard); }
header.header-mobile div#toggle-element > a:hover { transition: .5s linear; }
/* @formatter:on */

h1#h1 {
    display: none;
}

h2#mobile-h1 {
    margin: 0;
    padding: 100px 0 10px 10px;
    color: var(--primary);
    letter-spacing: .2em;
    text-align: left;
    font-size: 26px;
    font-family: fontBold, sans-serif;
    writing-mode: horizontal-tb;
    background: transparent;
}

section#hero {
    height: 65vh;
    background: url("../assets/images/museum-smoother-banner.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}

/*
https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter
I forgot to put a value to the @support declaration
which does not output any style in the browsers
according to MDN the backdrop-filter attribute is not supported in FF, FF for Android and IE
but commenting out the declaration seems to work for FF anyway..
*/
/* @supports ((-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(6px))) { */
section#hero section {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(6px);
    background-color: rgba(000, 000, 000, 0.45);
    border-radius: 10px;
    padding: 10px;
    max-width: 470px;
}


/* @formatter:off */
section#hero { height: 75vh; }
section#hero section p { color: var(--white); }

/* @formatter:off */
nav#nav-secondary section { margin-top: -35px; }
nav#nav-secondary section div,
nav#nav-secondary section div > a,
nav#nav-secondary section div > a > i,
nav#nav-secondary section div p,
nav#nav-secondary section div > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
/* @formatter:on */

nav#nav-secondary section div > a {
    border: 3px solid var(--white);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

nav#nav-secondary section div a i {
    font-size: 22px;
    color: var(--white);
}

/* @formatter:off */
nav#nav-secondary section div:nth-child(1) > a { background-color: var(--shockingPink); }
nav#nav-secondary section div:nth-child(2) > a { background-color: var(--blizzardBlue); }
nav#nav-secondary section div:nth-child(3) > a { background-color: var(--greenLizard); }
nav#nav-secondary section div:nth-child(4) > a { background-color: var(--yellowSunshine); }
nav#nav-secondary section div:nth-child(5) > a { background-color: var(--sunglow); }
nav#nav-secondary section div:nth-child(6) > a { background-color: var(--atmoicTangerine); }
nav#nav-secondary section div:nth-child(7) > a { background-color: var(--wildWatermelon); }
nav#nav-secondary section div:nth-child(8) > a { background-color: var(--secondary); }
/* @formatter:on */

nav#nav-secondary section div > p a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: fontLight, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: .13em;
    text-align: center;
    color: var(--primary);
}

nav#nav-secondary section div > a:hover {
    background: rgb(241, 111, 8);
    background: radial-gradient(circle,
    rgba(241, 111, 8, 1) 0%,
    rgba(255, 153, 51, 1) 45%,
    rgba(255, 211, 0, 1) 100%,
    rgba(232, 255, 0, 1) 100%);
    border: 3px solid transparent;
    transition: .5s linear;
}

/* @formatter:on */
aside section div a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid transparent;
    background: var(--white);
}

aside section div:nth-child(1) a {
    color: var(--white);
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285AEB 90%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    border-radius: 13px;
    border: none;
}

aside section div:nth-child(2) a {
    color: #eee;
    background: #3b5998;
    border: 3px solid #3b5998;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
}

aside section div:nth-child(3) a {
    background-image: linear-gradient(45deg, #4481eb 0%, #04befe 100%);
    /* color: transparent; /**/
    /* -webkit-background-clip: text; /**/
    /* background-clip: text; /**/
    color: var(--white); /**/
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
}

aside section div:nth-child(4) a {
    color: var(--white);
    background-color: #fe251b;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
}

main section div a,
footer section div p a {
    color: var(--greenLizard);
    text-decoration: underline;
    font-family: fontLight, sans-serif;
    font-weight: bold;
    font-size: 11px;
}

/**********     DIVERSE    ***********/
h2, h3 {
    padding: 10px 0;
    font-family: fontMedium, sans-serif;
    letter-spacing: .14em;
    font-size: 1.5em;
}

h3, h4 {
    font-family: fontMedium, sans-serif;
    letter-spacing: .15em;
    font-size: 16px;
}

h4 {
    font-family: fontBold, sans-serif;
    letter-spacing: .14em;
    font-size: .75em;
}

p {
    color: var(--primary);
    line-height: 1.7em;
    letter-spacing: .07em;
}

main,
aside {
    padding-bottom: 20px;
}
main {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: baseline;
    align-items: flex-end;
    align-content: flex-end;
}
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    align-items: flex-start;
    align-content: baseline;
}

/* CARD BOX */
main section div.card-box {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    background: var(--white);
    border-radius: 5px;
    padding: 10px;

    height: 600px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-content: baseline;
    #border: 2px solid green;
}

/* card-box > INNER CARD BOX */
main section div.inner-card-box {
    #border: 3px solid blue;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

/* card-box > inner-card-box > TEXT BOX */
main section div.inner-card-box div:first-child {
    #border: 2px solid deeppink;
    max-height: 260px;
}

/* card-box > inner-card-box > IMG BOX */
main section div.inner-card-box div:last-child {
    #border: 2px solid yellow;
    display: flex;
    justify-items: flex-end;
}

main section div.card-box div:last-child img {
    max-width: 100%;
}

main section div a {
    color: var(--primary);
    font-weight: bolder;
}

footer section div p {
    color: var(--offWhite);
}

footer > div > p {
    font-family: fontLight, sans-serif;
    color: var(--white);
    text-align: center;
    font-size: 10px;
}

/* @formatter:off */
/**********     DIVERSE    ***********/
.btn {
    outline: none;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    padding: 10px;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
}

.btn-primary {
    background: var(--greenLizard);
    color: var(--primary);
    border: 3px solid var(--greenLizard);
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border: 3px solid var(--primary);
    padding: 5px;
}

.btn-tertiary {
    color: var(--greenLizard);
    border: 3px solid var(--greenLizard);
}

.fa-heart {
    font-size: 13px;
    background: var(--greenLizard);
    background: radial-gradient(circle,
    #90e70c 0%,
    #81ce0b 45%,
    #72b60a 100%,
    #639e08 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.mapouter {
    text-align: center;
    height: 200px;
    max-width: 100%;
    padding:0;
    margin-bottom: 20px;
    box-shadow: none;
}

div.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    max-width: 100%;
    padding: 0;
    box-shadow: none;
}

/********************** DO NOT TOUCH ******************************/
/* @formatter:off */

h1#h1 {
    margin: 0 0 0 5px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section#hero section h2 {
    color: var(--white);
    background: transparent;
    letter-spacing: .2em;
    font-size: 22px;
    margin-bottom: 0;
}

section#hero section div {
    display: flex;
    gap: 10px;
    padding: 10px 0 20px 0;
    text-align: center;
    align-items: center;
    width: 100%;
}

section#hero section div a:first-child { flex: 65%; }
section#hero section div a:last-child { flex: 45%; }

header,
footer{
    margin-left:-10px ;
    margin-right: -10px;
}

nav#nav-secondary section,
nav#nav-secondary section div,
aside section,
aside section div,
aside section div a,
aside section div a i,
footer section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav#nav-secondary section,
nav#nav-secondary section div,
aside section,
aside section div,
aside section div a,
aside section div a i,
footer section { text-align: center; }

nav#nav-secondary section { margin-top: -15px; }

main section { gap: 20px; }
main h2 { color: var(--primary); background: var(--greenLizard); }

main.home section { display: flex; flex-wrap: wrap; }
main.home section div { max-width: 400px;  }
main.home h2 { padding-left: 10px; }

main section div h3,
main section div h3 > a {
    color: var(--white);
    background: var(--primary);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-family: fontMedium, sans-serif;
    letter-spacing: .15em;
    font-size: 16px;
    width: 100%;
}

aside h2 { text-align: left; color: var(--primary); background: transparent;  padding: 20px 0; }

aside section { padding: 10px 0; }

footer section { gap: 10px; justify-content: center; }
footer section { align-items: flex-start; padding: 10px; }
footer section div { text-align: left; }
footer section > div > a {
    display: inline-block;
    width: 150px;
    text-align: center;
}

aside section div,
nav#nav-secondary section div {
    flex: 25%;
    max-width:calc( 25% - 0 );
}

footer section div {
    flex: 100%;
    max-width:calc( 100% - 0 );
}

footer section div {
    flex-basis: 100%;
    max-width: 100%;
}

main section h2 { text-align: center; color: var(--white); background: var(--primary); }

.img-container,
.tablet-hidden,
.img-desktop {
    padding: 0;
    box-shadow: none;
    background: transparent;
    justify-content: space-around;
}

.img-container { display: block; }
.img-desktop { display: none; }

/* @formatter:off */
/* only purpose of this is for the CTA-buttons in hero-section to break down into full width */
@media screen and (max-width: 360px) {
    section#hero section div { flex-wrap: wrap; }
    section#hero section div a { flex:100%; }
}

/*  only purpose is for making the navigation break down */
@media screen and (max-width: 560px) {
    nav#nav-secondary section div { flex: 50%; max-width: calc(50% - 0); }
}

@media screen and (max-width: 900px) {
    main section { justify-content: center; }
}

@media screen and (min-width: 710px) {
    footer section div { flex: 50%; max-width: calc(50% - 10px ); }
    footer section { align-items: flex-start; justify-content: center; }
}

@media screen and (min-width: 1080px) {
    body {
        display: grid;
        margin: 0 auto;
        overflow-x: hidden;
        grid-template-columns: 80px auto;
        grid-template-rows: 75px auto;
        grid-template-areas:
    "header   header  header  header"
    "h1       hero    hero    hero"
    "h1       nav     nav     aside"
    "h1       main    main    aside"
    "footer   footer  footer  footer";
    }

    /* CARD BOX */
    main section div.card-box {
        min-height: 580px;
        max-width: 500px;
    }

    /* card-box > INNER CARD BOX */
    main section div.inner-card-box {
        #border: 3px solid blue;
    }

    /* card-box > inner-card-box > TEXT BOX */
    main section div.inner-card-box div:first-child {
        #border: 2px solid deeppink;
        max-height: 260px;
    }

    /* card-box > inner-card-box > IMG BOX */
    main section div.inner-card-box div:last-child {
        #border: 2px solid yellow;
        display: flex;
        justify-items: flex-end;
    }

    aside h2 { background: none; }

    .img-container { display: none; }
    .img-desktop { display: block; }

    h1#h1 {
        display: block;
        font-family: fontBold, sans-serif;
        letter-spacing: .3em;
        color: var(--primary);
        padding: 30px 0 0 0;
        writing-mode: vertical-lr;
    }

    h2#mobile-h1,
    header.header-mobile { display: none; }

    header.header-desktop nav a.active,
    header.header-desktop nav a:hover {
        background: var(--greenLizard);
        color: var(--primary);
        transition: .5s linear;
    }

    header.header-desktop {
        display: flex;
        justify-content: space-between;
        background: var(--primary);
    }

    header.header-desktop nav {
        display: flex;
        gap: 20px;
        padding: 10px;
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    header.header-desktop nav a {
        text-decoration: none;
        font-family: fontLight, sans-serif;
        letter-spacing: .2em;
        color: var(--greenLizard);
        flex: 1;
        padding: 10px;
    }

    section#hero { padding-left: 10px; }

    section#hero section {
        align-items: center;
        justify-content: center;
        max-height: 490px;
        padding: 30px;
    }

    section#hero section div a:first-child:hover { background: var(--yellowSunshine); color: var(--primary); border: 3px solid var(--yellowSunshine); transition: .5s linear; }
    section#hero section div a:last-child:hover { background: var(--primary); color: var(--greenLizard); border: 3px solid var(--primary); transition: .5s linear; }

    nav#nav-secondary section { margin-top: -15px; }

    aside section div {
        gap:20px;
    }

    aside section div,
    aside section {
        row-gap: 60px;
        flex: 100%;
        max-width:calc( 100% - 10px );
        justify-content: center;
    }

    aside h2 {
        text-align: center;
    }

    footer section div {
        flex: 25%;
        max-width:calc( 25% - 30px );
    }

}
