* {
    box-sizing: border-box;
    padding: 0;
    border: 1px solid red;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

button {
    font-size: 16px;
}

button.btn-primary,
button.btn-secondary {
    padding: 8px;
    outline: none;
    border:none;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: bolder;
}

a {
    color: black;
    text-decoration: none;
}

img.logo {
    height: 75px;
}


nav {
    display: flex;
    flex-wrap: wrap;
}

nav > * {
    flex: 1 auto;
}

/* Style tab links */
.tablink {
    padding: 15px;
    #background-color: #333;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.tablink:hover {
    background-color: #e7e7e7;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}

header {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 65vh;
    background: url("https://cdn.pixabay.com/photo/2021/11/25/14/37/detail-6823782_1280.jpg") no-repeat center;
    background-size: cover;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:0 20px;
    flex: 1;
    max-width: 450px;
}

header div.btn-box {
    margin: 0;
    flex-direction: row;
    padding:0 20px;
    gap:20px;
}

header div.btn-box button.btn-primary {
width: 60%;
}

header div.btn-box button.btn-secondary {
    width: 40%;
}

footer {
    display: flex;
    flex-direction: column;
}

footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

footer section div {
    flex: 1 30%;
}

footer > div:last-child {
    text-align: center;
    flex:1 100%;
}


/*

#ff869e
#ffb894
#ffdb70
#b9e5f5
#ffb7ff
*/
#Home {
    background-color: #ffc6a9;
}
#Visit {
    background-color: #ff92a8;
}
#Events {
    background-color: #ffc5ff;
}
#Exhibition {
    background-color: #c7eaf7;
}
#Explore {
    background-color: #ffe28d;
}
#Involved {
    background-color: #ffc6a9;
}

header,
footer {
    display: flex;
}

@media (max-width: 840px) {

    footer section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    footer section div {
        flex: 1 90%;
    }

}
